@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Memaksa browser merender dalam mode Light agar warna tidak berantakan */
  color-scheme: light;
}

body {
  @apply bg-slate-50 text-slate-800;
}